<header>
 <nav>
    <div class="logo-img">
        <img src="../images/logo-header.png" alt="">
    </div>
    <nav class="buscador">
        <form class="barra-buscador" >
          <input type="text" placeholder="Estoy buscando...">
          <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </nav>
    <div class="boton-menu">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div class="carrito-compras">
        <i class="fa-solid fa-cart-shopping"></i>
    </div>
 </nav>
</header>